body{
    font-family: 'Poppins', sans-serif;
    margin:0;padding:0;
}
.yel{
    color:rgb(229, 255, 0);
}
.flex-con{
    display:flex;
}
section{

}
.experiance{

    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: ;
}
.half-width{
    width:50%;
    margin:10px 40px;
    border-left:5px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;

    box-shadow: 10px 20px 50px gray;
}
.in{
    margin:20px;
}
.hfwidth{
    width: 50%;
    margin: 50px 20px;
}
img{
    padding: 1%;
    width: 70%;
}
#d{
    border-left:5px solid blue;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.link-button{
    padding: 10px 40px;
    background-color: rgb(238, 128, 26);
    border-radius:  5px;
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.sec-bann{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 240px;
}